.body-container {
    display: flex;
}

.body-block {
    width: 50%;
    margin: 5px;
}

.block-title {
    background-color: #0D4A3E;
    border-radius: 10px;
    height: 70px;
    color: white;
    text-align: center;
    line-height: 70px;
}

.block-content {
    background-color: #F0F0F0;
    border-radius: 10px;
    height: 200px;
    padding: 10px;
    margin-top: -15px;
}